# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# CocoaPods / Carthage (not used, but ignore if added later)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
